.row
  .small-12.columns
    label style="font-weight: bold;" id="hue-angle-offset-label" for="hue-angle-offset" Approximate starting hue
    input id="hue-angle-offset" type="range" min="0" max="359" value="0" step="0"
