- provide :title, 'Contact'

.row
  h1 Contact


  p If you have any problems running Iroki, please #{mail_to "admin@iroki.net", "send us an email", cc: "IrokiHelp@gmail.com", subject: "Iroki help", target: "blank"} or take a look at our #{link_to "GitHub page", "https://github.com/mooreryan/iroki"} and #{link_to "submit an issue", "https://github.com/mooreryan/iroki/issues/new"}!

