// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hideme {
  display: none;
}



// This is for the viewer
#show-length {
  position: absolute;
  top: 10px;
  left: 10px;
}

.links {
  fill: none;
  stroke: #000;
}

.link-extensions {
  fill: none;
  stroke: #000;
  stroke-opacity: .25;
}

.labels {
  font: sans-serif;
}

.link--active {
  stroke: #000 !important;
  stroke-width: 1.5px;
}

.link-extension--active {
  stroke-opacity: .6;
}

.label--active {
  font-weight: bold;
}

#tree-div {
  padding: 1%;
}

//div {
//  border: 1px dotted #666;
//}
//
//label {
//  display: inline-block;
//  width: 100%;
//  text-align: left;
//  border: 1px dotted red;
//}
