// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'settings';

.hideme {
  display: none;
}

// This is for the viewer
#show-length {
  position: absolute;
  top: 10px;
  left: 10px;
}

//.links {
//  fill: none;
//  stroke: #000;
//}

//.link-extensions {
//  fill: none;
//  stroke: #000;
//  stroke-opacity: .25;
//}

.labels {
  font: sans-serif;
}

.link--active {
  stroke: #000 !important;
  stroke-width: 1.5px;
}

.link-extension--active {
  stroke-opacity: .6;
}

.label--active {
  font-weight: bold;
}

#tree-div {
  //padding: 1%;
  //overflow: scroll;
}

//div {
//  border: 1px dotted #666;
//}
//
//label {
//  //display: inline-block;
//  //width: 100%;
//  //text-align: left;
//  border: 1px dotted red;
//}

//$height: 650px;

//#tree-form {
//  //height: $height;
//  overflow-y: scroll;
//  //border: 1px solid gray;
//}
//
//#upload-panel {
//  overflow-y: scroll;
//}
//
//#options-panel {
//  overflow-y: scroll;
//}

//#form-div  {
//  overflow-y: scroll;
//}

//#tree-div {
//  height: $height;
//}

svg {
  //display: block;
  //margin: 10px;
}

.width-100 {
  width: 100%;
}

.accordion-title {
  font-size: 1.15rem;
}

label {
  font-size: 1.15rem;
}

//.upload-form .tabs-title a {
//  border-top-width: 3px;
//  border-right-width: 3px;
//  border-bottom-width: 3px;
//  border-left-width: 3px;
//}

#upload-tab-button {
  border-right-width: 1.5px;
}

#options-tab-button {
  border-left-width: 1.5px;
  border-right-width: 1.5px;
}

#options-tab-button-thick-right-border {
  border-left-width: 1.5px;
  border-right-width: 3px;
}

#save-tab-button {
  border-left-width: 1.5px;
}

// See https://gist.github.com/corilam/5c935e6fb6bdef40b78b4c66e4b78dc9
.tabs-title {
  float: none !important;
  display: inline-block;
}

.tabs {
  text-align: center;
}

#iroki-logo {
  height: 50rem;
}

.top-bar a {
  color: #528EC7;
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  color: #0C58A1;
  font-weight: bold;
}

hr.row {
  height: 1px;
}

.thick-right-border {
  border-right-width: 3px;
}

.thin-right-border {
  border-right-width: 1.5px;
}

.thick-left-border {
  border-left-width: 3px;
}

.thin-left-border {
  border-left-width: 1.5px;
}

#canvas-upload-button {
  border-right-width: 1.5px;
}

#canvas-options-button {
  border-left-width: 1.5px;
  border-right-width: 1.5px;
}

#canvas-save-button {
  border-left-width: 1.5px;
}

#canvas-tree-container {
  //overflow: scroll;
  width: 800px;
  height: 800px;
}

.sand-color {
  background-color: $body-background;
}

.selected-label {
  fill: map-get($foundation-palette, secondarydark);
  font-weight: bold;
  font-style: italic;
}

.selected-branch {
  stroke: map-get($foundation-palette, secondarydark);
}

/* This is for animations, but they look a little wonky.... */
/* .selected-label { */
/*     animation-duration: 0.6s; */
/*     animation-name: selected-label; */
/*     animation-iteration-count: infinite; */
/*     animation-direction: alternate; */
/*     animation-timing-function: ease-in-out; */
/* } */
/* @keyframes selected-label { */
/*     from { */
/*         opacity: 1; */
/*     } */
/*     to { */
/*         opacity: 0; */
/*     } */
/* } */

/* .blink { */
/*     animation-duration: 1s; */
/*     animation-name: blink; */
/*     animation-iteration-count: infinite; */
/*     animation-direction: alternate; */
/*     animation-timing-function: ease-in-out; */
/* } */
/* @keyframes blink { */
/*     from { */
/*         opacity: 1; */
/*     } */
/*     to { */
/*         opacity: 0; */
/*     } */
/* } */

.results-table {
  max-height: 500px;
  overflow-x: auto;
  overflow-y: auto;
}

table#pd-results {
  // This is how wide the svgs are currently (TODO it's hardcoded)
  max-width: 500px;
}

#pd-hist-svg {
  background-color: white;
}

.pd-svg {
  background-color: white;
  border: 2px solid #272727;

  //circle.in-current-group {
  //  fill: rgba(255,150,30, 0.95);
  //}
  //circle.not-current-group {
  //  fill: rgba(10, 10, 10, 0.35);
  //}
}

#pd-hist-svg {
  line {
    stroke: #272727;
    stroke-width: 1px;
  }

  text {
    fill: #272727;
  }
}
