// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hideme {
  display: none;
}



// This is for the viewer
#show-length {
  position: absolute;
  top: 10px;
  left: 10px;
}

//.links {
//  fill: none;
//  stroke: #000;
//}

//.link-extensions {
//  fill: none;
//  stroke: #000;
//  stroke-opacity: .25;
//}

.labels {
  font: sans-serif;
}

.link--active {
  stroke: #000 !important;
  stroke-width: 1.5px;
}

.link-extension--active {
  stroke-opacity: .6;
}

.label--active {
  font-weight: bold;
}

#tree-div {
  //padding: 1%;
  //overflow: scroll;
}

//div {
//  border: 1px dotted #666;
//}
//
//label {
//  //display: inline-block;
//  //width: 100%;
//  //text-align: left;
//  border: 1px dotted red;
//}

//$height: 650px;

//#tree-form {
//  //height: $height;
//  overflow-y: scroll;
//  //border: 1px solid gray;
//}
//
//#upload-panel {
//  overflow-y: scroll;
//}
//
//#options-panel {
//  overflow-y: scroll;
//}

//#form-div  {
//  overflow-y: scroll;
//}

//#tree-div {
//  height: $height;
//}

svg {
  //display: block;
  //margin: 10px;
}

.width-100 {
  width: 100%;
}

.accordion-title {
  font-size: 1.15rem;
}

label {
  font-size: 1.15rem;
}

//.upload-form .tabs-title a {
//  border-top-width: 3px;
//  border-right-width: 3px;
//  border-bottom-width: 3px;
//  border-left-width: 3px;
//}

#upload-tab-button {
  border-right-width: 1.5px;
}

#options-tab-button {
  border-left-width: 1.5px;
  border-right-width: 1.5px;
}

#save-tab-button {
  border-left-width: 1.5px;
}

// See https://gist.github.com/corilam/5c935e6fb6bdef40b78b4c66e4b78dc9
.tabs-title {
  float:none !important;
  display:inline-block;
}

.tabs {
  text-align:center;
}

#iroki-logo {
  height: 50rem;
}

