p Iroki is research software. If you use Iroki, please cite the Iroki preprint:

blockquote Moore RM, Harrison AO, McAllister SM, Marine R, Chan C, Wommack KE. 2017. Iroki: automatic customization for phylogenetic trees. doi: https://doi.org/10.1101/106138