p Iroki is research software. If you use Iroki, please cite the Iroki #{link_to "preprint", "http://biorxiv.org/content/early/2017/04/25/106138.1"}:

blockquote Moore RM, Harrison AO, McAllister SM , Marine RL, Chan CS, and Wommack KE. 2017. Iroki: automatic customization for phylogenetic trees. bioRxiv doi:10.1101/106138