p If you find Iroki useful in your research, please cite the Iroki #{link_to "manuscript", "https://doi.org/10.7717/peerj.8584"}.  Thank you!!

blockquote Moore RM, Harrison AO, McAllister SM, Polson SW, Wommack KE. 2020. Iroki: automatic customization and visualization of phylogenetic trees. PeerJ 8:e8584 https://doi.org/10.7717/peerj.8584

h2 Citation Manager Formats

p Alternatively, if you would like to download the Iroki citation for your favorite citation management software, please click #{link_to 'here', "https://github.com/mooreryan/iroki#citation"} for a list of available formats.
